{{ define "main" }}

<main class="journal-content" role="main">
  <ul class="journal-list">
    {{ range .Pages }}
    <li class="journal-item">
      <a href="{{ .Permalink }}" class="journal-link">
        <div
          class="journal-item-image"
          style="background-image: url({{ .Params.image }})"
        >
          <span class="journal-date">
            {{ .Date.Format "January 2, 2006" }}
          </span>
        </div>
        <div class="journal-item-info">
          <div class="journal-category">{{ .Params.category }}</div>
          <h2 class="journal-title">{{ .Params.title }}</h2>
        </div>
      </a>
    </li>
    {{ end }}
  </ul>
</main>

{{ end }}
