{{ define "main" }}

<main class="journal-post" role="main">
  <aside class="journal-sidebar">
    <div
      class="journal-item-image"
      style="background-image: url({{ .Params.image }})"
    >
      <span class="journal-date"> {{ .Date.Format "January 2, 2006" }} </span>
    </div>
    <div class="journal-item-info">
      <div class="journal-category">{{ partial "svg.html" .Params }}</div>
    </div>
  </aside>
  <article class="journal-article">
    <h2 class="journal-title">{{ .Params.title }}</h2>
    {{ if eq .Section "post" }}
    <span class="article-duration">{{ .ReadingTime }} min read</span>
    {{ end }} {{ if eq .Section "post" }}
    <span class="article-date">{{ .Date.Format "January 2, 2006" }}</span>
    {{ end }}

    <div class="article-content">{{ .Content }}</div>
  </article>
</main>

{{ end }}
