<footer class="main-footer">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-grid-item">
        <h6 class="footer-title">Site</h6>
        <a href="" class="footer-link">Home</a>
        <a href="" class="footer-link">Blog</a>
        <a href="" class="footer-link">Projects</a>
        <a href="" class="footer-link">Contact</a>
        <a href="" class="footer-link">Shop</a>
      </div>
      <div class="footer-grid-item">
        <h6 class="footer-title">About</h6>
        <a href="" class="footer-link">GitHub</a>
        <a href="" class="footer-link">Email</a>
        <a href="" class="footer-link">Adress</a>
      </div>
      <div class="footer-grid-item footer-form">
        <h6 class="footer-title">Contact</h6>
        <div class="contact-form"></div>
      </div>
    </div>
  </div>
</footer>
