<footer class="main-footer">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-grid-item">
        <h6 class="footer-title">Site</h6>
        <a href="/" class="footer-link">Projects</a>
        <a href="/journal" class="footer-link">Journal</a>
      </div>
      <div class="footer-grid-item">
        <h6 class="footer-title">About</h6>
        <a href="https://github.com/pradow" class="footer-link">GitHub</a>
        <a href="https://pradow.com/" class="footer-link">Pradow</a>
      </div>
      <div class="footer-grid-item footer-form">
        <h6 class="footer-title">Contact</h6>
        <span class="footer-link">pradowc@protonmail.com</span>
      </div>
    </div>
  </div>
</footer>
