<footer class="main-footer">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-grid-item">
        <h6 class="footer-title">title</h6>
        <a href="" class="footer-link">test</a>
        <a href="" class="footer-link">test</a>
        <a href="" class="footer-link">test</a>
        <a href="" class="footer-link">test</a>
      </div>
      <div class="footer-grid-item">
        <h6 class="footer-title">title</h6>
        <a href="" class="footer-link">test</a>
        <a href="" class="footer-link">test</a>
        <a href="" class="footer-link">test</a>
      </div>
      <div class="footer-grid-item footer-form">
        <h6 class="footer-title">title</h6>
        <div class="contact-form"></div>
      </div>
    </div>
  </div>
</footer>
