{{ define "main" }}
<main class="main-content" aria-role="main">
  <div class="container">
    <div class="main-grid">
      <div class="grid-item first-item">
        <div class="image-container"></div>
        <div class="info">
          <h6 class="item-title">puppy place</h6>
          <p class="item-description">place</p>
        </div>
      </div>
      <div class="grid-item secondary-item">
        <div class="image-container"></div>
        <div class="info">
          <h6 class="item-title">puppy place</h6>
          <p class="item-description">place</p>
        </div>
      </div>
      <div class="grid-item third-item">
        <div class="image-container"></div>
        <div class="info">
          <h6 class="item-title">puppy place</h6>
          <p class="item-description">place</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-container"></div>
        <div class="info">
          <h6 class="item-title">puppy place</h6>
          <p class="item-description">place</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-container"></div>
        <div class="info">
          <h6 class="item-title">puppy place</h6>
          <p class="item-description">place</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-container"></div>
        <div class="info">
          <h6 class="item-title">puppy place</h6>
          <p class="item-description">place</p>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
