{{ define "main" }}
<main class="main-content" aria-role="main">
  <div class="container">
    <div class="main-grid">
      {{ $projects := .Site.Data.home.projects }} 
      
      {{ range $index, $val := $projects }}
      <a class="{{ if eq $index 0}}first-item{{ end }} grid-item" href="{{ .url }}">
        <div class="image-container" style="background-image: url({{ .image }})"></div>
        <div class="info">
          <h6 class="item-title">{{ .title }}</h6>
          <div class="item-icon">
            {{ partial "svg.html" . }}
          </div>
        </div>
      </a>
      {{ end }}
      </div>
    </div>
  </div>
</main>
{{ end }}
