.main-footer {
  border-top: 1px solid $grey-0;
  margin: 90px 0 0 0;
  padding: 90px 0;
}

.footer-grid {
  display: grid;
  column-gap: 55px;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-template-rows: 1fr;
}

.footer-grid-item {
  display: flex;
  flex-direction: column;
  margin: 0 0 25px 0;
}

.footer-title {
  font-size: 17px;
  margin: 0 0 35px 0;
}

.footer-link {
  align-self: flex-start;
  color: $black-0;
  font-size: 24px;
  font-weight: normal;
  text-decoration: none;
  margin: 0 0 7px 0;
}

a.footer-link:hover {
  text-decoration: underline;
}

@media (max-width: 1025px) {
  .footer-link {
    font-size: 17px;
  }
}
