.main-grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid-item {
  color: $black-0;
  text-decoration: none;
}

.image-container {
  background: center / cover no-repeat;
  flex: 1 1 auto;
  padding-top: 56.25%;
  position: relative;
}

.image-container-overlay {
  background-color: $black-0;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 100%;

  transition: opacity 0.3s ease-in-out;
}

.item-title {
  font-size: 17px;
  margin: 5px 0;
}

.item-icon svg {
  width: 19px;
}

.disabled-item {
  pointer-events: none;
}

.grid-item:hover .image-container-overlay {
  opacity: 0.4;
}

@media (max-width: 721px) {
  .main-grid {
    display: block;
  }

  .grid-item {
    display: flex;
    margin-bottom: 31px;
  }

  .info {
    margin: 0 0 0 15px;
    width: 85px;
  }

  .item-title {
    margin-top: 0;
  }

  .item-icon svg {
    margin: 9px 0 0 0;
    width: 25px;
  }
}
