.main-grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: [main-start] 1fr 1fr [main-end] 1fr;
  grid-template-rows: [main-start] 1fr 1fr [main-end] 1fr;
}

.grid-item {
  color: $black-0;
  text-decoration: none;
}

.grid-item:hover .image-container::after {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(/images/pointer.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.first-item {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr;
  grid-template-rows: auto 52px;
}

.image-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 52.777778%;
  position: relative;
  flex: 1 1 auto;
  transition: all 0.2s ease-in-out;
}

.first-item .image-container {
  padding-top: 62.4444444%;
}

.item-title {
  font-size: 17px;
  margin: 5px 0;
}

.item-icon svg {
  width: 19px;
}

@media (max-width: 721px) {
  .main-grid {
    display: block;
  }

  .grid-item {
    display: flex;
    margin-bottom: 31px;
  }

  .image-container {
    height: 240px;
    padding: 0 !important;
  }

  .info {
    margin: 0 0 0 15px;
    width: 85px;
  }

  .item-title {
    line-height: 0.7;
    margin-top: 0;
  }

  .item-icon svg {
    margin: 9px 0 0 0;
    width: 25px;
  }
}
